#group1, #group2,
#group3 {

	width: 250px;
	height: 250px;

}

#group1 {

	border: 1px solid red;
}

#group2 {

	border: 2px dotted black;

}

#group3 {

	border-top: 5px solid blue;
	border-bottom: 6px dashed red;
	border-left: 25px groove orange;
	border-right: 15px inset orange;

}
