#group1, #group2,
#group3 {

	width: 200px;
	height: 200px;
	display: block;

}

#group1 {

	background: red;
	margin: 25px;
	padding: 10px;
	border: 2px solid black;

}

#group2 {

	background: blue;
	margin: 25px;
	padding: 15px;
	border: 6px solid black;

}

#group3 {

	margin: 25px;
	padding: 15px;
	border: 6px solid orange;

	overflow: hidden;
	visibility: visible;

}

#container {

	width: 800px;
	height: 200px;
	background: gray;
	
}

.box {

	width: 200px;
	height: 100%;
	background: orange;
	text-align: center;
	font-weight: bold;
	font-size: 32px;
	
	float: left;

}
