body p:nth-child(even) {

	background: orange;

}

.p-1 {

	text-indent: 150px;

}

.p-2 {

	text-align: center;

}

.p-3 {

	text-decoration: line-through;

}

.p-4 {

	text-shadow: 3px 3px 5px #000;

}

.p-5 {

	text-transform: uppercase;

}

.p-6 {

	letter-spacing: 5px;

}

.p-7 {

	word-spacing: 20px;

}