* {

	box-sizing: border-box;

}


#container {

	width: 800px;
	height: 200px;
	background: gray;
	
}

.box {

	width: 200px;
	height: 200px;
	padding: 15px;
	border-top: 5px solid black;
	border-bottom: 5px solid black;
	border-right: 5px solid black;
	background: orange;
	text-align: center;
	font-weight: bold;
	font-size: 32px;
	
	float: left;

	line-height: 4.5em;

}

#container > .box:first-child {

	border-left: 5px solid black;

}
