*, *::before, *::after {

	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

.clearfix::after,
.clearfix::before {

	content: "";
	display: block;
	clear: both;

}

body {

	/* font-size: 62.5%; */
	font-size: 100%;
	line-height: 1.5;
	font-family: 'Arial','sans-serif','sans';
	
}

#wrapper {

	margin: 50px auto;

}

h1 {

	text-align: center;

}

.image-slider, .nav {

	width: 720px;
	margin: 20px auto;

}

.image-slider {

	height: 500px;
	overflow: hidden;
	
}

.image-slider-container {

	width: 9999px; /* This will change in JavaScript */
	position: relative;

}

.image-slider img {

	width: 720px;
	height: auto;
	float: left;

}

.nav > li {

	float: left;
	width: 33.33%;
	list-style: none;

}

.nav > li:last-child {

	text-align: right;

}

.nav > li:nth-child(2) {

	text-align: center;

}


.nav > li > span:hover {

	cursor: pointer;

}
