/* PSEUDO CLASSES */

ul > li:first-child { /* :first-child */

	color: blue;

}

ul > li:last-child {  /* :last-child */

	color: blue;

}

ul.list1 > li:nth-child(5) { /* nth-child */

	background: orange;

}

ul.list2 > li:nth-child(even) { /* nth-child, (even & odd) */

	background: teal;

}

ul.list3 > li:nth-child(3n+1) { /* nth-child, w/ patterns */

	background: teal;

}

/* PSEUDO ELEMENTS */

p::first-line { /* ::first-line */;

	color: red;

}

p::first-letter { /* ::first-letter */;

	font-size: 45px;

}

p::before { /* :before */

	content: "**BEFORE**";

}

p::after { /* :after */;

	content: "**AFTER**";

}

